html, body {
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.wheel-container, .tiles-container {
    width: 50%;
}

.tiles-container {
    display: grid;
    place-items: center;
}

.tiles {
    width: 60%; 
    height: 60%; 
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    box-sizing: border-box; 
}

.tiles-controller {
    width: 100%;
}

.tiles-controller input {
    width: 100%;
    box-sizing: border-box; 
    height: 40px;
    font-size: large;
    padding-right: 30px;
}